* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    width: 98%;
    height: 96vh;
    background: url(img/737751.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2vh;
}

#left {
    width: 30%;
    height: 40vh;
    border: 5px solid rgb(56, 22, 0);
    background: rgb(95, 89, 68);
    padding: 20px;
    padding-top: 5px;
    position: relative;
    float: left;
    margin-right: 30px ;
}

#title_left {
    height: 30px;
    width: 40%;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 10px;
}

#list {
    list-style-type: none;
    display: block;
}

.hobbi {
    height: 30px;
    width: 40%;
    background: rgb(56, 22, 0);
    margin-top: 15px;
    text-align: center;
    line-height: 30px;
    border: 2px solid white ;
    color: white;
    font-size: 15px;
    font-weight: 600;
    position: relative;
}

.hobbi::before {
    content:'';
    position: absolute;
    height:30px;
    width: 30px;
    top: 0px;
    left: 30px;
    background: url(img/check.png);
    background-size: cover;
}

#icon_left {
    background: url(img/dancer-g8fd7c68f3_640.png);
    width: 180px;
    height: 270px;
    background-size: cover;
    position: absolute;
    top: 15px;
    left: 280px;
}

#right {
    background: rgb(95, 89, 68);
    border: 5px solid rgb(56, 22, 0);
    float: left;
    width: 60%;
    height: 95vh;
    text-align: center;
}

#title_right {
    width: 50%;
    height: 11vh; 
    padding: 5px;
    line-height: 40px;
    font-size: 25px;
    margin: 0 auto ;
    margin-top: 17vh ;
    margin-bottom: 3vh;
}

.title {
    color: white;
    border: 4px solid white ;
    text-shadow: rgb(56, 22, 0) 0 3px 3px  ;
    box-shadow: rgb(56, 22, 0) 0px 12.5px 5px -5px , white 0 0 5px 0px;
}

form {

    display: block;
    width: 600px;
    height: 450px;
    margin: 0 auto;
}

input {
    text-align: center;
    width: 525px;
    font-size:larger;
    font-weight: 900;
    height: 45px;
    margin-bottom: 10px;
    border: 3px solid rgb(56, 22, 0);
    color: rgb(56, 22, 0);
    outline: none;
}

button {
    height: 80px;
    width: 260px;
    background: rgb(56, 22, 0);
    color: white;
    border: 5px solid white  ;
    border-radius: 15px;
    margin-top: 20px;
    font-size:x-large;
    font-weight: 900;
    position: relative;
}

button:first-of-type {
    margin-right: 20px;
    padding-left: 65px;
}

button:first-of-type::before {
    content:'' ;
    position: absolute;
    background: url(img/funny-icon-22163.png);
    background-size: cover ;
    height: 65px ;
    top: 3px;
    left: 2px;
    width: 65px;
}

button:last-of-type::after {
    content:'' ;
    position: absolute;
    background: url(img/imgonline-com-ua-Mirror-LJLp7lkrMYp7L1.png);
    background-size: cover ;
    height: 65px ;
    top: 3px;
    right: 2px;
    width: 65px;
}

button:last-of-type {
    padding-right: 65px;
}