.ftitle {
    height: 10vh;
    width: 60%;
    border: 5px solid black;
    border-radius: 15px;
    right: 20%;
    padding-bottom: 30px;
    padding-left: 10px;
    text-align: justify;
    background-color: gray;
    position: absolute;

}


.import-img {
    height: 150px;
    width: 150px;
    border: 5px solid red;
    border-radius: 100vh;
    margin: auto;
    background: url(img/some.jpg);

}

.List{
        height: 70vh ;
        border: 5px solid black;
        width: 14%;
        left: 20%;
        top: 123px;
        border-radius: 15px;
        background-color: gray;
        text-align: center;
        list-style: none;
        position: absolute;
}

#parrent {
    height: 70vh;
    width: 42%;
    background-color: gray;
    margin-left:  35%;
    top: 16vh;
    right: 0;
    border: 5px solid black;
    border-radius: 15px;
    position:relative;
}

#child1,#child2,#child3,#child4{
	display:inline-block; /* Сделали все div в одну строку */
	height:150px;
	width:150px;
    border: 5px solid rgb(7, 216, 31);
    background-color: crimson;
}
#child1{
	position:absolute; /* добавили */
	right: 52%;
    bottom:57vh; /* добавили */
}
#child2{
    position:absolute; /* добавили */
	bottom: 42vh;; /* добавили */
    right: 45%;
}
#child3{
    position:absolute; /* добавили */
	bottom: 28vh; /* добавили */
    right: 37%;
}
#child4{
    position:absolute; /* добавили */
	bottom:13vh; /* добавили */
    right: 29%;
}
